# app-service.yaml
# Este Service expõe o app internamente no cluster.
# O NGINX irá acessar o app via esse nome (app-service).

apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  selector:
    app: app
  ports:
    - port: 3000              # Porta interna do serviço
      targetPort: 3000        # Porta do container
  type: ClusterIP             # Apenas acessível dentro do cluster (via proxy reverso NGINX)
