apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  labels:
    app: grafana
data:
  prometheus-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
# Este ConfigMap define a fonte de dados do Grafana,
# configurando o Prometheus como o provedor padrão de métricas (usando o serviço prometheus-service na porta 9090).