apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'app'
        static_configs:
          - targets: ['app-service:3000']
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
          

# Este ConfigMap define o arquivo de configuração do Prometheus, especificando que ele deve coletar métricas da aplicação (porta 3000)
# e também monitorar a si próprio (porta 9090).
